#box{
    height: 300px;
    width: 600px;
    margin: 100px 100px 100px 00px;
    background-color: yellow;
    color: red;
    border: solid;
}

#para{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    

}

#box1{ height: 270px;
        width: 570px;
        background-color: aqua;
        margin: 50px 50px 50px 50px;
    }
#box2{
        height: 250px;
        width: 550px;
        background-color: greenyellow;
        margin: 50px 50px 50px 50px;
}
#box3{
        height: 220px;
        width: 520px;
        background-color: lightcyan;
        margin: 50px 50px 50px 50px;
}

#box4{height: 200px;
        width: 500px;
        background-color: lightpink;
        margin: 50px 50px 50px 50px;}

#box5{height: 180px;
        width: 280px;
        background-color: lightgoldenrodyellow;
        margin: 50px 50px 50px 50px;}
